<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div>
        <h1>THE SECRET NUMBER</h1>
        <h2>En spännande gissningslek skriven i ASP MVC</h2>
        <p>Det hemliga talet är ett tal mellan 1 och 100!</p>
        <p>Din uppgift är att gissa rätt, du har sju försök på dig!</p>
        <p>Gissar du på ett tal du redan gissat på tidigare räknas inte den gissningen! Lycka till!</p>
    </div>

    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
