@model NumberGuessingGame.ViewModel.SecretNumberViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "Ett fel har uppstått, var vänlig åtgärda detta och försök igen")
        <div>
            @Html.LabelFor(model => Model.Guess, "Skriv din gissning här ")
        </div>
        <div>
            @Html.TextBoxFor(model => Model.Guess)
            @Html.ValidationMessageFor(model => Model.Guess)
        </div>
        <input type="submit" name="NewGuess" value="Gissa!" />
    }
</div>
@if(!Model.SecretNumber.CanMakeGuess)
{
    {Html.RenderPartial("GameOver", Model);}
}
@{Html.RenderPartial("PreviousGuesses", Model);}